{% extends 'base.html' %}

{% block title %}
my invites
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h1>You have no invites</h1>
    {% endif %}
    
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="five wide column">
                        <img class="ui circular-avatar" src={{obj.avatar.url}}>  
                        <br>
                        <a href={{obj.get_absolute_url}}><button class="ui primary button w-big mb-5">View Profile</button></a>
                    </div>
                    <div class="eleven wide column"> 
                        <form action="{% url 'profiles:accept-invite' %}" method="POST">
                            <h3>{{obj.user}}</h3>
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui basic blue button w-big mb-5"><i class= "smile icon"></i>Accept !</button>
                        </form>
                        <form action="{% url 'profiles:reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui basic red button w-big mb-5"><i class= "close icon"></i>Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock content %}